@import '../../styles/variables';
@import '../../styles/mixins';

.main{
  width: 100%;
  background-color: $backgroundColorAside;
  @include flexCenter(center);
  align-items: flex-start;
  margin-top: 23px;
  margin-left: 245px;
  &__post-section{
    @include flexCenter(center);
    flex-direction: column;
    padding-right: 32px;
    position: relative;
    margin-bottom: 5px;
    width: 470px;

  }
  &__profiles-section {
    width: 320px;
    &__footer {
      margin-top: 15px;
      font-size: 12px;
      color: $subtext-color;
      &__links{
        padding-bottom: 15px;
        text-align: justify;
        & a{
          padding-right: 5px;
          color: $subtext-color;
        }
      }
    }
    &__avatar-sec {
      margin-bottom: 16px;
      padding-top: 16px;
      &__avatar {
        border-radius: 50%;
        width: 56px;
        height: 56px;

      }
    }
    &__subscribers{
      height: 230px;
      @include subscribersComponent;
    }
    &__recomn{
      margin-top: 26px;
      @include subscribersComponent;
      &__list{
        height: 126px;
        overflow: auto;
      }
    }
  }

}

@media (max-width: 1185px) {
  .main{
    //width: 100vh;
    margin-left: 71px;
  }
}

