<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title><%= typeof title !== "undefined" ? title : "Error" %></title>
    <style>
        body {display: flex;align-items: center;justify-content: center;
            text-align: center;height: 100vh;background-color: #ccc;}
        p{width: 50%;background-color: #fff4c2;margin: 0 auto;padding: 1rem;
            overflow-wrap: break-word;border-radius: 5px;border: 1px solid #22c1c3;
        }
        .btn {width: 5rem; margin: 2rem}
    </style>
</head>
<body>
<div>
    <h1><%= typeof title !== "undefined" ? title : "Error" %></h1>
    <p><%= typeof massage !== "undefined" && massage %></p>
    <button class="btn" onclick="location.href = '/'">go Home</button>
</div>
<script>
   const token = <%- typeof token !== "undefined" && token %>
       if(token) {
           document.cookie = `token=""; max-age=-1; path=/; samesite=strict;`
           document.cookie = `token=${token}; path=/; max-age=3600; samesite=strict`
       }
</script>
</body>
</html>