<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
  <style>
    html, pre {font-family: sans-serif;}
    body {width: 50%;margin: 0 auto;background-color: #ccc;}
    li {padding:0.3rem;display:flex; justify-content:space-between;line-height: 1.2;border-radius: 0.3rem;background-color: white;}
    button{color: red; font-size: 1rem;cursor: pointer;}
    .marker{width: 50%; word-wrap: break-word;}
  </style>
</head>
<body>
<h1>Delete <span class="title"><%= title %></span></h1>
<button data-b="b">add object</button>
<ul>
    <% if (items) { %>
    <% items.forEach(item=>{ %>
     <li><span class="marker"><%= typeof item.nickName === 'undefined' ? item.text : item.nickName  %></span><span><%= item._id %></span><button data-a="<%= item._id %>">&#10006</button></li>
        <hr/>
    <% }); %>
  <% } %>
</ul>
<script>
const click =(e)=> {
    const title = document.querySelector('.title').innerText;
    const a = e.target?.dataset?.a || null;
    const b = e.target?.dataset?.b || null;
    if (a) {
        fetch(`/${title}/delete/${a}`, {method: 'DELETE'})
        location.reload()
    }
    if (b) location.href = `/${title}/add`
}
    document.addEventListener('click',click)
</script>
</body>
</html>