@import './variables';

@mixin flexCenter ($justifyContent){
  display: flex;
  align-items: center;
  justify-content: $justifyContent;
  flex-direction: row;
}
@mixin subscribersComponent{
  &__header{
    @include flexCenter(space-between);
    font-size: 14px ;
    color: $subtext-color;
    padding-bottom: 8px;
    & p:last-child{
      color: $text-color;
      font-size: 12px;
      font-weight: bold;
    }
  }
  &__list{
    height: 206px;
    overflow-y: scroll;
    & li{
      margin-bottom: 7px;
    }
  }
}

@mixin gradient {
  @keyframes gradient {
    0% {
      background-position: 100% 0;
    }

    50% {
      background-position: 0 100%;
    }

    100% {
      background-position: 100% 0;
    }
  }
}

@mixin gradient-A{
  border: $border-a;
  padding: .4rem;
  border-radius: 5px;
  background: rgb(34, 193, 195);
  background: linear-gradient(197deg, rgba(34, 193, 195, 1) 3%, rgba(248, 253, 45, 1) 97%);
  background-size: 1000%;
  animation: gradient 5s infinite linear;
}

@mixin gradient-B{
  border: $border-a;
  padding: .5rem 0;
  border-radius: 5px;
  background: #e0e0e0;
}