@import "variables";
@import "mixins";
*{
  padding: 0;
  margin: 0;
  border: none;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  list-style:  none;
  text-decoration: none;
}

a{

}

.container{
  background-color: $backgroundColorAside;
  @include flexCenter(center);
  width: 100%;
}

.aside{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 245px;
  padding: 8px 12px 20px;
  background-color: $backgroundColorAside;
  position: fixed;
  top:0;
  left:0;
  border-right: 1px solid $subtext-color;
  &__header{
    padding: 25px 16px;
    margin-top: 6px;
    &__icon-smallScreen{
      display: none;
    }
  }
  &__main{
    &__list{
      &__item{
        padding: 12px;
        margin-top: 6px;
        margin-bottom: 10px;
        & a{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;


          & p{
            padding-left: 16px;
            font-size: 18px;
            color: #262626;
          }
        }
        &:hover{
          background-color: $backgroundColor;
          border-radius: 24px;
          cursor: pointer;
        }
      }
    }
  }
  &__footer{
    padding: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
    &__link{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      & p{
        padding-left: 16px;
        font-size: 16px;
        color: $text-color;
      }
    }
    &:hover{
      background-color: $backgroundColor;
      border-radius: 24px;
      cursor: pointer;
    }
  }
}
.profile-avatar{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  @include flexCenter(center);
  overflow: hidden;
  & img{
    width: 100%;
  }
}
@media (max-width: 1185px) {
  .aside {
    width: 72px;
    &__header{
      &__icon-fullScreen{
        display: none;
      }
      &__icon-smallScreen{
        display: block;
      }
    }
    &__main__list__item p {
      display: none;
    }
    &__footer__link p{
      display: none;
    }
  }
}

//.loader-ellips {
//  font-size: 20px; /* change size here */
//  position: relative;
//  width: 4em;
//  height: 1em;
//  margin: 10px auto;
//}
//
//.loader-ellips__dot {
//  display: block;
//  width: 1em;
//  height: 1em;
//  border-radius: 0.5em;
//  background: #555; /* change color here */
//  position: absolute;
//  animation-duration: 0.5s;
//  animation-timing-function: ease;
//  animation-iteration-count: infinite;
//}
//
//.loader-ellips__dot:nth-child(1),
//.loader-ellips__dot:nth-child(2) {
//  left: 0;
//}
//.loader-ellips__dot:nth-child(3) { left: 1.5em; }
//.loader-ellips__dot:nth-child(4) { left: 3em; }
//
//@keyframes reveal {
//  from { transform: scale(0.001); }
//  to { transform: scale(1); }
//}
//
//@keyframes slide {
//  to { transform: translateX(1.5em) }
//}
//
//.loader-ellips__dot:nth-child(1) {
//  animation-name: reveal;
//}
//
//.loader-ellips__dot:nth-child(2),
//.loader-ellips__dot:nth-child(3) {
//  animation-name: slide;
//}
//
//.loader-ellips__dot:nth-child(4) {
//  animation-name: reveal;
//  animation-direction: reverse;
//}
.loader-wheel {
  font-size: 64px; /* change size here */
  position: relative;
  height: 1em;
  width: 1em;
  padding-left: 0.45em;
  overflow: hidden;
  margin: 0 auto;
  animation: loader-wheel-rotate 0.5s steps(12) infinite;
}

.loader-wheel i {
  display: block;
  position: absolute;
  height: 0.3em;
  width: 0.1em;
  border-radius: 0.05em;
  background: #333; /* change color here */
  opacity: 0.8;
  transform: rotate(-30deg);
  transform-origin: center 0.5em;
}

@keyframes loader-wheel-rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}